.wrapper {
}
.container_information {
}
.information__bloc {
}
.information__services {
}
.services {
}
.services__container {
	padding: 70px 60px;
	color: var(--color-light);
	background-color: var(--color-dark-violet);
	// border-radius: 20px;
	// margin: 60px;
}
._container {
}
.services__body {
}
.services__column {
}
.services__item {
}
.item-services__icon {
}
.border_icon {
}
.icon {
}
.item-services__title {
}
.item-services__text {
}
