@charset "UTF-8";
.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 32px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1823;
  border-radius: 5px;
  z-index: 3;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__logo {
  flex: 0 0 24px;
  position: relative;
  z-index: 5;
  text-decoration: none;
}

.header__logo p,
.header__logo p {
  color: #fff;
  text-decoration: none;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 3;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 24px;
}

.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

.content {
  padding: 100px 0px 0px 0px;
}

.content__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  justify-content: center;
}

.content__text p {
  margin: 0px 0px 20px 0px;
}

.main_img {
  border-radius: 30px;
}

.main_picture {
  display: grid;
  position: relative;
  min-width: 1838px;
  height: auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 80px;
  padding-bottom: 72px;
  border-radius: 150px;
  top: -2rem;
}

.header__link:hover {
  color: #fd9222;
}

.main_img_instagram:hover {
  background-color: #fd9222;
  width: 24px;
  height: 24px;
  border-radius: 7px;
}

.main_img_twitter:hover {
  background-color: #fd9222;
  width: 24px;
  height: 24px;
  border-radius: 5px;
}

.description {
  display: flex;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 381px;
  top: -35rem;
}

.text {
  display: flex;
  position: relative;
  padding-left: 40px;
  padding-right: 612px;
  padding-top: 117px;
  padding-bottom: 381px;
  width: 484px;
  height: 102px;
  flex-shrink: 0;
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.84px;
  box-sizing: content-box;
}

.description_link {
  display: flex;
  position: relative;
  padding-left: 40px;
  padding-right: 585px;
  padding-top: 32px;
  padding-bottom: 40px;
  top: -80rem;
  left: 3rem;
}

.description_link-1 {
  display: flex;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  border-radius: 100px;
  background: #fd9222;
}

.description_link-1:hover {
  background: #fff;
}

.link_1 {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
}

.link_1:hover {
  color: #000;
}

.description_link-2 {
  display: flex;
  position: relative;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #fff;
  left: 1rem;
}

.description_link-2:hover {
  background: #fd9222;
}

.link_2 {
  width: 103px;
  height: 17px;
  flex-shrink: 0;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.description_img {
  position: relative;
  max-width: 100%;
  top: -85rem;
  left: 95rem;
  white-space: nowrap;
  color: #fff;
}

.description_p {
  position: absolute;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.42px;
  top: 1rem;
  left: 6rem;
}

.description_button {
  position: relative;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  fill: #fff;
  border-radius: 50%;
  top: 10px;
  left: 3rem;
  cursor: pointer;
}

@media (max-width: 1800px) {
  .main_picture {
    min-width: 1200px;
    min-height: 800px;
    flex-shrink: 0;
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    left: 3rem;
  }
  .header__body {
    position: relative;
    right: 550px;
  }
  .description_button {
    position: relative;
    margin-left: 62rem;
    left: -58rem;
  }
  .description_p {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.42px;
    top: 1rem;
    left: -50rem;
    margin-left: 20rem;
    z-index: 20;
  }
  .description_button {
    position: relative;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    fill: #fff;
    border-radius: 50%;
    top: 10px;
    left: -85rem;
    cursor: pointer;
  }
  .text_description {
    position: relative;
    width: 484px;
    color: #fff;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.84px;
    left: 5rem;
  }
  .description_link {
    position: relative;
    left: 7rem;
  }
}
/* Адаптивные стили для разрешения от 992px до 1200px */
@media (max-width: 1200px) {
  .main_picture {
    width: 1036px;
    height: 1050px;
    flex-shrink: 0;
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    left: 7rem;
  }
  .header:before {
    width: 65%;
  }
  .text_description {
    width: 484px;
    color: #fff;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.84px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
    right: 20rem;
    margin-right: 5rem;
  }
  .description_button {
    position: relative;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    fill: #fff;
    border-radius: 50%;
    top: 10px;
    left: -50rem;
    cursor: pointer;
  }
  .description_link-1 {
    display: flex;
    position: relative;
    left: 5rem;
  }
  .description_link-2 {
    display: flex;
    position: relative;
    left: 1rem;
    margin-left: 5rem;
  }
  .text_description {
    position: relative;
    width: 484px;
    color: #fff;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.84px;
    left: 9rem;
  }
  .description_button {
    position: relative;
    margin-left: 62rem;
    left: -88rem;
  }
  .description_p {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.42px;
    top: 1rem;
    left: -53rem;
    margin-left: 20rem;
  }
}
/* Адаптивные стили для разрешения от 992px до 1199px */
@media (max-width: 992px) {
  .main_picture {
    min-width: 1004px;
    height: 890px;
    flex-shrink: 0;
    display: block;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    left: auto;
  }
  .header__body {
    position: relative;
    right: 5rem;
  }
  .text_description {
    position: relative;
    width: 484px;
    color: #fff;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.84px;
    left: 1rem;
  }
  .description_link {
    position: relative;
    left: -1rem;
  }
  .description_img {
    position: relative;
    max-width: 100%;
    top: -85rem;
    left: 95rem;
    white-space: nowrap;
    color: #fff;
  }
  .description_button {
    position: relative;
    margin-left: 7rem;
  }
  .description_p {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.42px;
    top: 1rem;
    left: -56rem;
    margin-left: 7rem;
  }
  .header__logo {
    position: relative;
    right: 9rem;
    margin-right: 7rem;
  }
  .header__burger {
    position: relative;
    right: 25rem;
  }
  .description_button {
    position: relative;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    fill: #fff;
    border-radius: 50%;
    top: 10px;
    left: -50rem;
    cursor: pointer;
  }
  .description_link-1 {
    display: flex;
    position: relative;
    left: 5rem;
  }
  .description_link-2 {
    display: flex;
    position: relative;
    left: 1rem;
    margin-left: 5rem;
  }
  .header__burger samp {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 10px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active samp {
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #fd9222;
    padding: 90px 30px 20px 30px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
  .header__link {
    font-size: 25px;
  }
  .header__link:hover {
    color: #1e1823;
  }
  .content {
    padding: 70px 0px 0px 0px;
  }
}
@media (max-width: 768px) {
  .main_picture {
    min-width: 335px;
    min-height: 621px;
    flex-shrink: 0;
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header:before {
    width: 55%;
  }
  .header__body {
    position: relative;
    right: 10rem;
  }
  .header__logo {
    flex: 0 0 15px;
    font-size: 20px;
  }
  .header__body {
    height: 50%;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
    right: 20rem;
    margin-right: 5rem;
  }
  .header__burger samp {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 10px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active samp {
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #fd9222;
    padding: 90px 30px 20px 30px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
  .header__link {
    font-size: 25px;
  }
  .header__link:hover {
    color: #1e1823;
  }
  .content {
    padding: 70px 0px 0px 0px;
  }
  .main_picture {
    min-width: 704px;
    height: 890px;
  }
  .text_description {
    position: relative;
    width: 484px;
    color: #fff;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.84px;
    left: 1rem;
  }
  .description_img {
    position: relative;
    max-width: 100%;
    top: -85rem;
    left: 95rem;
    white-space: nowrap;
    color: #fff;
  }
  .description_p {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.42px;
    top: 1rem;
    left: -56rem;
  }
  .description_button {
    position: relative;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    fill: #fff;
    border-radius: 50%;
    top: 10px;
    left: -50rem;
    cursor: pointer;
  }
  .description_link-1 {
    display: flex;
    position: relative;
    left: 5rem;
  }
  .description_link-2 {
    display: flex;
    position: relative;
    left: 1rem;
    margin-left: 5rem;
  }
}
@media (max-width: 480px) {
  .main_picture {
    max-width: 750px;
    min-height: 890px;
    flex-shrink: 0;
    padding-top: 71px;
    padding-bottom: 62px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header:before {
    width: 59%;
  }
  .main_social_network {
    left: 15px;
  }
  .text_description {
    width: 484px;
    color: #fff;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.84px;
  }
  .text {
    font-size: 28px;
  }
  .description_img {
    position: relative;
    max-width: 100%;
    top: -85rem;
    left: 95rem;
    white-space: nowrap;
    color: #fff;
  }
  .description_p {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.42px;
    top: 1rem;
    left: -56rem;
  }
  .description_button {
    position: relative;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    fill: #fff;
    border-radius: 50%;
    top: 10px;
    left: -50rem;
    cursor: pointer;
  }
  .description_button {
    position: relative;
    margin-left: -2rem;
  }
  .description_p {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.42px;
    top: 1rem;
    left: -56rem;
    margin-left: -2rem;
  }
  .header__burger {
    position: relative;
    right: 20rem;
  }
  .header__logo {
    position: relative;
    left: 6rem;
  }
}
@media (max-width: 320px) {
  .main_picture {
    width: 320px;
    height: 890px;
    flex-shrink: 0;
  }
  .header__body {
    position: relative;
    left: -10rem;
  }
  .main_social_network {
    left: 15px;
  }
  .text_description {
    width: 484px;
    color: #fff;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.84px;
  }
  .description_img {
    position: relative;
    max-width: 100%;
    top: -85rem;
    left: 95rem;
    white-space: nowrap;
    color: #fff;
  }
  .description_p {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.42px;
    top: 1rem;
    left: -56rem;
  }
  .description_button {
    position: relative;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    fill: #fff;
    border-radius: 50%;
    top: 10px;
    left: -50rem;
    cursor: pointer;
  }
  .description_button {
    position: relative;
    margin-left: -2rem;
  }
  .description_p {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.42px;
    top: 1rem;
    left: -56rem;
    margin-left: -2rem;
  }
  .header__burger {
    position: relative;
    right: 20rem;
  }
  .header__logo {
    position: relative;
    left: 13rem;
  }
  .text {
    font-size: 28px;
  }
}/*# sourceMappingURL=header.css.map */